/* Custom styles cho modal */
.modal {
    display: flex; /* Đảm bảo modal hiển thị flex khi `showModal` là true */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    justify-content: center;
    align-items: center;
}
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative; /* Quan trọng cho vị trí tuyệt đối của nút đóng */
}
.close-button {
    color: #aaa;
    position: absolute; /* Vị trí tuyệt đối bên trong modal-content */
    top: 10px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
}

/* Các style cho nút Tab */
.tab-button.active {
    border-bottom: 3px solid #00A1E4; /* Màu primary-blue từ palette */
    color: #00A1E4; /* Màu primary-blue từ palette */
    font-weight: 600;
}
.tab-content {
    display: none;
}
.tab-content.active {
    display: block;
}

/* Thêm CSS Reset cơ bản để đảm bảo style đồng nhất giữa các trình duyệt */
html, body, #root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
/* Loại bỏ `font-family` cho `body` khỏi đây, nó đã được đặt trong `index.css` */
/* body {
    font-family: 'Inter', sans-serif;
} */
